body {
    font-family:blue;
    background-color:whitesmoke;
    
   
  }
  h1{
    text-align: center;
    border:outset;
    border-color: rgba(165, 97, 42, 0.616);
    background-color:sandybrown;
    border-width: 20px;
  }
  
  .result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    font-size: larger;
    font-style: italic;
    color:red;}
  .container {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    background-color:rgba(19, 37, 139, 0.288);
    
   }
  .game{
  color: black;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  grid: gap 10px;
  height: auto;
  background-color:rgb(231, 238, 130);

}
  p{
    font-size: larger;
  }
 